<head>
  <meta charset="utf-8">
  <title>Kanban by Zak</title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <link rel="shortcut icon" type="image/png" href="favicon.png?v1" sizes="16x16 32x32 64x64">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png">
</head>

<body>
  <div id="app"></div>
</body>
