#kanban {
  background: white;
  width: 100%;
  display: block;
  position: relative;
  .list {
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 20%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
  }
  .controls {
    .control {
      display: inline-block;
      padding: 3px;
      background: black;
      color: white;
      font-size: 9px;
      cursor: pointer;
      margin-right: 2px;
    }
  }
}
